[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
bpython = "*"

[packages]
wikipedia = "*"
nltk = "*"
google-api-python-client = "*"
python-dotenv = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
